{% extends "base.html" %}


{% block js %}
{% endblock %}


{% block main %}
<h1>Project 1 and 2: App page</h1>
<hr />
<p><a href="/profile">'/profile'</a> to add new profile</p>
<p><a href="/profile/1">'/profile/1'</a> to view profile of user '1'. (Change the number in the address bar after to view other numbers)</p>
<p><a href="/profiles">'/profiles'</a> to view a list of all users.<p>
<hr />
<p>The '/profile/userid' and '/profiles' routes have also been set up to return JSON only when given a request with header 'Content-type=application/json'.</p>
{% endblock %}
